<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <!--Start-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/home">
                <i class="bi bi-house"></i> <span>Home</span>
            </a>
        </li>
        <!--End-->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/about">
                <i class="bi bi-grid"></i><span>About</span>
            </a>
        </li>
        <!--!!-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/s_reg_form">
                <i class="bi bi-circle"></i><span>Person to Person(P2P)</span>
            </a>
        </li>
        <!--!!-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/cc_save_form">
                <i class="bi bi-card-list"></i><span>Corporate Service</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/cb_save_form">
                <i class="bi bi-card-list"></i><span>Corporate Booking</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/cb_list">
                <i class="bi bi-card-list"></i><span>Booking List</span>
            </a>
        </li>
        <!--!!-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="login">
                <i class="bi bi-box-arrow-in-right"></i><span>Login</span>
            </a>
        </li>
        <!--!!-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/profile">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li>




    </ul>

</aside>
<!--!!-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">-->
<!--        <i class="bi bi-list"></i><span>Services</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--      </a>-->
<!--      <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">-->
<!--        <li>-->
<!--          <a href="/s_reg_form" class="active">-->
<!--            <i class="bi bi-circle"></i><span>Person to Person(P2P)</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/cb_save_form">-->
<!--            <i class="bi bi-circle"></i><span>Corporate Delivery</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/parcel_pd">-->
<!--            <i class="bi bi-circle"></i><span>Parcel pick & Drop Service</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->

<!--Add Home-->
<!--start Employee-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link box " data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">-->
<!--        <i class="bi bi-list"></i><span>Employees</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--      </a>-->
<!--      <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">-->
<!--        <li>-->
<!--          <a href="/employee_list" class="active">-->
<!--            <i class="bi bi-circle"></i><span>All Employee</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/empRegform">-->
<!--            <i class="bi bi-circle"></i><span>Add Employee</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/departments">-->
<!--            <i class="bi bi-circle"></i><span>Compile Department</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>&lt;!&ndash; End Tables Nav &ndash;&gt;-->


<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">-->
<!--        <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--      </a>-->
<!--      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--        <li>-->
<!--          <a href="forms-elements.html">-->
<!--            <i class="bi bi-circle"></i><span>Form Elements</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="forms-layouts.html">-->
<!--            <i class="bi bi-circle"></i><span>Form Layouts</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="forms-editors.html">-->
<!--            <i class="bi bi-circle"></i><span>Form Editors</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="forms-validation.html">-->
<!--            <i class="bi bi-circle"></i><span>Form Validation</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>&lt;!&ndash; End Forms Nav &ndash;&gt;-->


<!--    <li class="nav-heading">Pages</li>-->

<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="/cc_save_form">-->
<!--        <i class="bi bi-card-list"></i>-->
<!--        <span>Corporate Service</span>-->
<!--      </a>-->
<!--    </li>&lt;!&ndash; End Register Page Nav &ndash;&gt;-->






<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="pages-faq.html">-->
<!--        <i class="bi bi-question-circle"></i>-->
<!--        <span>F.A.Q</span>-->
<!--      </a>-->
<!--    </li>&lt;!&ndash; End F.A.Q Page Nav &ndash;&gt;-->

<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="pages-contact.html">-->
<!--        <i class="bi bi-envelope"></i>-->
<!--        <span>Contact</span>-->
<!--      </a>-->
<!--    </li>&lt;!&ndash; End Contact Page Nav &ndash;&gt;-->

<!-- End Login Page Nav -->

<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="pages-error-404.html">-->
<!--        <i class="bi bi-dash-circle"></i>-->
<!--        <span>Error 404</span>-->
<!--      </a>-->
<!--    </li>&lt;!&ndash; End Error 404 Page Nav &ndash;&gt;-->

<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="pages-blank.html">-->
<!--        <i class="bi bi-file-earmark"></i>-->
<!--        <span>Blank</span>-->
<!--      </a>-->
<!--    </li>&lt;!&ndash; End Blank Page Nav &ndash;&gt;-->

<!--  </ul>-->

<!--</aside>&lt;!&ndash; End Sidebar&ndash;&gt;-->