<div th:insert="header.html">...</div>
<div th:insert="empsidebar.html">...</div>

<main class="main" id="main">

    <div class="pagetitle" style="margin-top: 100px">
        <h1 class="text-center">All Receiver</h1>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-md-12">

                <div class="card ">
                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Sl</th>
                                <th scope="col">senderName</th>
                                <th scope="col">senderMobileNo</th>
                                <th scope="col">district</th>
                                <th scope="col">Nearest Area</th>
                                <th scope="col">Recipient Address</th>
                                <th scope="col">Instruction</th>
                                <th scope="col">Send Pick Notifaction</th>



                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="std : ${stdList}">
                                <td th:text="${std.id}"> </td>
                                <td th:text="${std.recipientName}"></td>
                                <td th:text="${std.recipientMobileNo}"></td>
                                <td th:text="${std.district}"></td>
                                <td th:text="${std.nearestArea}"></td>
                                <td th:text="${std.recipientAddress}"></td>
                                <td th:text="${std.instruction}"></td>
                                <td th:text="${std.sendPickNotifaction}"></td>



                                <td>
                                    <a th:href="@{'/delete_recipient/'+${std.id}}" class="btn btn-danger">Delete</a>
                                    <a th:href="@{'/update_recipient/'+${std.id}}" class="btn btn-warning">Update</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->

<div th:insert="footer.html">...</div>