<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main class="main" id="main">

    <div class="pagetitle" style="margin-top: 100px">
        <h1 class="text-center">Review</h1>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="card bg-info">
                    <div class="card-body">

                        <table class="table table-primary" >
                            <thead>
                            <tr>
                                <th class="col-md-4">Sender Details</th>

                                <th class="col-md-8">
                                    <a th:href="@{'/edit_sender/'+${sd.id}+'/'+${rd.id}+'/'+${pd.id}+'' }" class="btn btn-warning">Edit</a>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td th:text="${sd.senderName}"></td>
                            </tr>
                            <tr>
                                <td>Mobile Number</td>
                                <td th:text="${sd.senderMobileNo}"></td>
                            </tr>
                            <tr>
                                <td>Address Type</td>
                                <td th:text="${sd.PickAddressType}"></td>
                            </tr>
                            <tr>
                                <td>District</td>
                                <td th:text="${sd.district}"></td>
                            </tr>
                            <tr>
                                <td>Nearest Area</td>
                                <td th:text="${sd.nearestArea}"></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td th:text="${sd.senderAddress}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-primary">
                            <thead>
                            <tr>
                                <th class="col-md-4">Recipient Details</th>
                                <th class="col-md-8">
                                    <a th:href="@{'/edit_recipient/'+${sd.id}+'/'+${rd.id}+'/'+${pd.id}+'' }" class="btn btn-warning">Edit</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td th:text="${rd.recipientName}"></td>
                            </tr>
                            <tr>
                                <td>Mobile Number</td>
                                <td th:text="${rd.recipientMobileNo}"></td>
                            </tr>
                            <tr>
                                <td>District</td>
                                <td th:text="${rd.district}"></td>
                            </tr>
                            <tr>
                                <td>Nearest Area</td>
                                <td th:text="${rd.nearestArea}"></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td th:text="${rd.recipientAddress}"></td>
                            </tr>


                            </tbody>
                        </table>

                        <table class="table table-primary">
                            <thead>
                            <tr>
                                <th class="col-md-4">Parcel Details</th>
                                <th class="col-md-8">
                                    <a th:href="@{'/edit_parcel/'+${sd.id}+'/'+${rd.id}+'/'+${pd.id}+'' }" class="btn btn-warning">Edit</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Courier Type</td>
                                <td th:text="${pd.selectProductType}"></td>
                            </tr>
                            <tr>
                                <td>package Weight</td>
                                <td th:text="${pd.packageWeight}"></td>
                            </tr>
                            <tr>
                                <td>Parcel Contain</td>
                                <td th:text="${pd.whatDoesThisParcelContain}"></td>
                            </tr>
                            <tr>
                                <td>number Of Item</td>
                                <td th:text="${pd.numberOfItem}"></td>
                            </tr>
                            <tr>
                                <td>Payment</td>
                                <td th:text="${pd.payment}"></td>
                            </tr>
                            <tr>
                                <td>Traking No</td>
                                <td th:text="${pd.parcelTrakingNumber}"></td>
                            </tr>



                            </tbody>
                        </table>
                        <!-- End Default Table Example -->

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree with the terms and conditions</label>
                        </div>
                        <div class="form-check">

                            <!--  <button type="submit" th:href="successful.html" class="btn btn-primary float-end ">Confirm & Pay</button>-->
                            <a type="onclick" href="/successful" class="btn btn-primary float-end ">Confirm & Pay</a>

                        </div>



                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>