<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main class="main" id="main" style="background-color: #edeff3">
    <section class="section">
        <div class="row" style="margin-top: 100px">
            <div class="col-md-12">
                <h1 class="text-center">All Sender</h1>
                <div class="card" style="background-color: #edeff3; box-shadow: 2px 10px 20px 10px  #fafafa">
                    <div class="card-body pt-5">
                        <!-- General Form Elements -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Sl</th>
                                <th scope="col">senderName</th>
                                <th scope="col">senderMobileNo</th>
                                <th scope="col">email</th>
                                <th scope="col">PickAddressType</th>
                                <th scope="col">district</th>
                                <th scope="col">nearestArea</th>
                                <th scope="col">senderAddress</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="std : ${stdList}">
                                <td th:text="${std.id}"> </td>
                                <td th:text="${std.senderName}"></td>
                                <td th:text="${std.senderMobileNo}"></td>
                                <td th:text="${std.email}"></td>
                                <td th:text="${std.PickAddressType}"></td>
                                <td th:text="${std.district}"></td>
                                <td th:text="${std.nearestArea}"></td>
                                <td th:text="${std.senderAddress}"></td>
                                <td>
                                    <a th:href="@{'/delete_sender/'+${std.id}}" class="btn btn-danger">Delete</a>
                                    <a th:href="@{'/update_sender/'+${std.id}}" class="btn btn-warning">Update</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->

<div th:insert="footer.html">...</div>