<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card" style="background-color: #edeff3; box-shadow: 2px 10px 20px 10px  #fafafa">
                    <div  class="container text-center mt-1">
                        <img style="width: 85px" th:src="@{/assets/img/contact.png}" alt="" />
                    </div>
                    <div class="card-body">
                        <h1 th:if="${ccId==null}" class="card-title text-center mt-1" style="font-size: large ">Registration Here</h1>
                        <h1 th:if="${ccId!=null}" class="card-title text-center mt-1" style="font-size: large ">Edit Now</h1>
                        <!-- General Form Elements -->
                        <form  th:action="@{/cc_save}" th:object="${corporate}" method="post">
                            <input type="hidden" th:field="*{ccId}">
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label"><strong>Company Name</strong></label>
                                <div class="col-sm-12">
                                    <input type="text" placeholder="Enter here" class="form-control" th:field="*{ccCompanyName}"  id="ccCompanyName" />
                                    <div class="alert alert-warning"  th:if="${#fields.hasErrors('ccCompanyName')}" th:errors="*{ccCompanyName}"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label"><strong>Email</strong></label>
                                <div class="col-sm-12">
                                    <input type="email"  placeholder="Enter here" class="form-control" th:field="*{ccEmail}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label"><strong>Address</strong></label>
                                <div class="col-sm-12">
                                    <input rows="3" placeholder="Enter here" class="form-control" th:field="*{ccAddress}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label"><strong>Contact Number</strong></label>
                                <div class="col-sm-12">
                                    <input rows="3" placeholder="Enter here" class="form-control" th:field="*{ccContactNumber}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label"><strong>Password</strong></label>
                                <div class="col-sm-12">
                                    <input rows="3" type="password" placeholder="Enter here" class="form-control" th:field="*{ccPassword}" />
                                </div>
                            </div>
                            <!--  Terms & Conditions-->

                            <!--  Terms & Conditions End-->
                            <div>
                                <button type="reset" class="btn btn-outline-warning">Reset</button>
                            </div>

                            <div class="col-md-12 text-center">
                                <button th:if="${ccId!=null}" type="submit" class="btn btn-primary">Update</button>
                                <button th:if="${ccId==null}" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:insert="footer.html">...</div>