<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/cb_list">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>Corporate Order List</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/all_parcelDetails">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>All Booking </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/cc_list">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>ALL Corporate Clicents</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/all_senderDetails">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>General Customers (sender)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/all_recipientDetails">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>General Customers (Receiver)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/departments">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>Compile Department</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/empRegform">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>Add Employee</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/emp_list">
                <i class="bi bi-arrow-right-square-fill"></i>
                <span>All Employee</span>
            </a>
        </li>


    </ul>

</aside>
