
<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<div class="main" id="main">
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container" style="background-color: #c7dbd2; padding: 20px 10px 30px 20px">
            <div class="row gy-4 d-flex justify-content-between">


                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <h2 data-aos="fade-up">Your Lightning Fast Delivery Partner</h2>
                    <p data-aos="fade-up" data-aos-delay="100">Facere distinctio molestiae nisi fugit tenetur repellat non praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p>

                    <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" class="form-control" placeholder="ZIP code or CitY">
                        <button type="submit" class="btn btn-primary">Traking</button>
                    </form>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>

            </div>
        </div>
    </section><!-- End Hero Section -->
</div>

<div th:insert="footer.html">...</div>